# --------------------
# Data (big files)
# --------------------
data/
!data/.gitkeep

# --------------------
# Experiments (ignore model weights)
# --------------------
# experiments/
# !experiments/.gitkeep

# --------------------
# Python cache
# --------------------
__pycache__/
*.pyc

# --------------------
# Jupyter notebook cache
# --------------------
.ipynb_checkpoints/

# --------------------
# OS-specific files
# --------------------
.DS_Store

notebooks/quick_check.ipynb
